// app global css in SCSS form
body {
  background: #333;
}
#main-page-container {
  background: white;
  width: 21cm;
  height: auto;
  // height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 1cm;
  margin-top: 1cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.location-text {
  font-size: 0.94rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.16667em;
}
.location-sub-text {
  font-size: 0.9rem;
  font-weight: 400;
}
.text-engineer {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5rem;
}
.q-timeline__heading-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
// Utils and helpers
.section-title {
  background-color: #f3f3f3;
}
.likedin-color {
  color: #0a66c2;
}
.github-color {
  color: #161b22;
}
.hackerrank-color {
  color: #1ba94c;
}
.instgram-color-gradient {
  color: #fff;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  border-radius: 30%;
}
.portafolio-color {
  color: #f800ae;
}
.dark-text {
  color: #1d1d1d !important;
}
.util-background-color-blue {
  background-color: $blue-14;
}
.util-text-white {
  color: #fff;
}
.util-text-blue {
  color: $blue-14;
}
.util-simple-link {
  cursor: pointer;
  text-decoration: underline;
}
* {
  color-adjust: exact !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
@page {
  margin: 2cm 0cm 2cm 0cm;
}
@page :first {
  margin-top: 0cm; // top margin for first page of paper
}
@media all {
  .page-break {
    display: none;
  }
}
@media print {
  .skill-card{
    height: auto !important;
    width: 16.6667% !important;
  }
  .header-info{
    height: auto !important;
    width: 33.3333% !important;
  }
  .page-break {
    display: block;
    page-break-before: always;
  }
  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }
  .q-timeline__content {
    page-break-inside: avoid;
  }
  .section-title {
    background-color: #e2e2e2;
  }
  #header-container .util-background-color-blue {
    background-color: #2962ff;
  }
  #header-container .q-avatar {
    right: 5px;
  }
  #main-page-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

@media screen and (max-width: 599px) {
  #main-page-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  #training-container .q-timeline__heading {
    left: -40px !important;
  }
  #skills-container .q-timeline__heading-title {
    margin: 0 !important;
    text-align: center;
  }
}
